<div class="content">
  <video src="/assets/1.mp4" class="video-1" autoplay loop muted></video>
</div>
<a href="/products" class="content1-p">V I E W A L L</a>
<div class="content-1">
  <p>S P R I N G L A Y E R S</p>
  <p id="2nd-p">Light cashmere, dense linen and crisp poplin for the shift in seasons.</p>
</div>
<div class="content-2">
  <div class="content2-pic1-container">
    <img src="<%= products[0].image %>" alt="" class="content2-img1">
    <p class="content2-p1">S H O P W O M E N</p>
  </div>
  <div class="content2-pic2-container">
    <img src="<%= products[1].image %>" alt="" class="content2-img2">
    <p class="content2-p2">S H O P M E N</p>
  </div>
</div>
<div class="content-3">
  <img src="/assets/4.webp" alt="" class="content3-img">
  <p class="content3-p1">V I E W</p>
  <p class="content3-p2">M H L. L O O K B O O K</p>
</div>
<div class="content-4">
  <div class="content2-pic1-container">
    <img src="<%= products[2].image %>" alt="" class="content4-img1">
    <p class="content4-p1">S H O P M H L. W O M E N</p>
  </div>
  <div class="content2-pic2-container">
    <img src="<%= products[3].image %>" alt="" class="content4-img2">
    <p class="content4-p2">S H O P M H L. M E N</p>
  </div>
</div>
<%- include('partials/footer') %>